/FuncTest/bin/Debug/*.dll
/FuncTest/bin/Debug
/FuncTest/obj/Debug/*.cache
/Functions/obj/Debug
/MyMinSqureMethod/obj/Debug
/FuncTest/obj/Debug
/MyMinSqureMethod/bin/Debug
/Functions/bin/Debug
/MyMinSqureMethod.v14.suo
/MyMinSqureMethod.sln.ide/edb.log
/MyMinSqureMethod.sln.ide/edbres00001.jrs
/MyMinSqureMethod.sln.ide/edbres00002.jrs
/MyMinSqureMethod.sln.ide/edbtmp.log
/MyMinSqureMethod.sln.ide/storage.ide
